* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 /*background-color: rgb(166, 240, 240);*/
}

header {
    background-color: rgb(12, 66, 66);
    padding: 16px;
    color: #fff;
}

header h2 {
    font-size: 25px;
}

nav ul{
    display: flex;
    justify-content: flex-end; /*alinhar conteudo do conteiner no fim do conteiner a direita*/
}

nav ul li {
    display: inline;
    font-size: 18px;
    text-align: right;
    font: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 10px auto;
    /*background-color: rgb(12, 66, 66);*/
    font-size: 18px;
}

.container img {
    max-width: 650px;
    margin-top: 30px;
}

/* Estilos para a imagem ao lado do texto */
#about .container {
    display: flex;
    grid-template-columns: auto 1fr;
    /* Agora a imagem será a primeira coluna e o texto a segunda */
    gap: 20px;
    align-items: center;
}

section p {
 display: block;
}

section p img {
    width: 100px;
    display: flex;
}

section {
    padding: 16px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


/**/
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;


}

form textarea {
    resize: none;
    /*usado para impedir que a caixa de texto se expanda */
    height: 80px;
    border-color: rgb(5, 85, 85);
    color: #fff;;
}

form button:hover {
    background-color: rgb(5, 85, 85);
    color: #fff;
    cursor: pointer;
}
 
/* rgb(10, 184, 184)*/

form button {
    border: none;
    background-color: rgb(22, 172, 139);
    border-radius: 5px;
}

footer {
    background-color:rgb(207, 226, 226) ;
}

